@import "../../scss/index.scss";

.voting {
  background: $white;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;

  &__navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px 0;
  }

  &__arrow-back {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background: $light-pink;
    cursor: pointer;
  }

  &__title {
    color: $white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 5px 30px;
    background: $pink;
  }

  &__container {
    position: relative;
  }

  &__image {
    width: 640px;
    height: 360px;
    border-radius: 20px;
  }

  &__votes {
    margin-top: 42px;
  }

}
