@import "../../scss/index.scss";

.home {
  position: relative;
  width: 680px;
  height: 840px;
  background-color: $light-pink;
  border-radius: 20px;

  &__background {
    position: absolute;
    left: -65px;
  }
  
}
