@import "../../scss/index.scss";

.side-menu {
  width: 446px;
  height: 100%;
  position: sticky;
  top: 20px;
  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 80px;
  }

  &__title {
    color: $dark-grey;
    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 10px;
  }

  &__description {
    color: $light-grey;
    font-size: 20px;
    margin-bottom: 60px;
  }

  &__api {
    color: $dark-grey;
    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

}
